  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.content %></td></br>
        <td><%= link_to 'Edit', edit_version_path(version) %></td>
        <td><%= link_to 'Destroy', version, method: :delete, data: { confirm: 'Are you sure?' } %></td></br>
      </tr>
    <% end %>
  </tbody>