// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
	             background-color: #ffffff;

}

/* 导航栏*/
 .fle-nav{

    width: 100%;
    height: 120px;
    opacity:0.4;
    position: fixed;
    background:rgba(0,0,0,1);
    z-index: 10;

}
.nav-logo ul{
    top: 43.3%;
    float: right;
    position: absolute;
    left: 54%;
    color: red;
}
.nav-logo img{
    padding-left: 18.7%;
    padding-top: 20px;
}

.nav-logo ul span {
    float: left;
    display: block;
    width: 150px;
    font-size: 17px;
    color: #FFFFFFFF;
}
.nav-logo ul span a{
    color: white;
    font-weight: 900;
}

  .flex-container {

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            height: 6218px;
            flex-wrap: nowrap | wrap | wrap-reverse;
        }

   .flex-container .flex-item{
   
            width: 100%;
            height: 14.66%;
            
        }
  	
     #box{
     	width: 100%;
     	height: auto;
        
        position: relative;        
        overflow: hidden; 

     }
     .lb{
     }
     #lb2{
      
     }
     #box div li{
        position: absolute;
     	margin: auto;
     	padding: 0px;
     	list-style: none;
     	width: 100%;
     	height: 100%;
     }
     .btn{
     	width: 180px;
     	height: 130px;
     	background: rgba(0, 0, 0, 0.7);
     	position: absolute;
     	top: 400px;
     	color: #FFFFFF;
     	text-align: center;
     	line-height: 90px;
     	cursor: pointer;
     }
     .btn:hover{
     	background: rgba(0,0,0,0.9);
     }
     .btn:active{
     	background: rgba(0,0,0,0.7);
     }
     #next{
     	right: 0%;
     } 
    .flex-container .flex-item1{
    		width: 100%;
    		height: 42.49%;
            
    }
    .flex-container .flex-item2{
    		width: 100%;
    		height: 840px;
            
    }
    .flex-container .flex-bg1{
    	display: flex;
    	flex-direction: row;
    	width: 100%;
    	height: 14.66%;
    }
    .lb img{
        
        width: 100%;
        height: 912px;
    }



/*     公司简介
 */
 	.flex-container .flex-bg2{
        
        position: relative;
 		display: flex;
 		flex-direction: row;
 		align-items: center;
 		justify-content: center;
 		width: 100%;
 		height: 14.66%;
 	}
    .flex-bg2 img{
        
        width: 100%;
        height: 912px;
        position: absolute;
        z-index: -1;
    }
    
    .flex-bg2 .flex-itemgsjj{
    	height: 536px;
    	width: 524px;
    	margin: 20px;
    }
    .flex-itemgsjj img{
        position: absolute;
        width: 524px;
        height: 536px;
        z-index: 1;
    }
    #j1{
    	color: black;
    	letter-spacing: 10px;
    	font-size: 44px;
    }
    #j2{
    	font-size: 	24px;
    	font-weight: normal;
    	color: #F6C738;
    }
    #j3{
    	font-size: 16px;
    	color: #545454;
    	font-weight: normal;
    }
    /* 企业优势L */
    .flex-container .flex-bg3{
       
    	display: flex;
    	flex-direction: column;
    	width: 100%;
    	height: 912px;

    }
    .flex-bg3 img{
       position: absolute;
        height: 912px;
        width: 100%;
        z-index: -1;
    }
    .flex-bg3 .flex-itemqyys{
    	width: 100%;
    	height: 33.33%;
    }
    .flex-itemqyys1{
        position: absolute;
        width: 298px;
        height: 298px;
    }

    .flex-itemqyys ul{
    	margin-top: 132px;

    	text-align: center;
    }
    #q1{
    	color: #FFFFFF;
    	font-weight: bold;
    	letter-spacing: 36px;
    	font-size: 44px;
    }
    #q2{
    	color: #F6C738;
    	font-size: 24px;
    	font-weight: normal;
    	letter-spacing: 3px;
    }
    .flex-itemqyyscontain1{
        
    	display: flex;
    	justify-content: center;
    	flex-direction: row;
    	height: 298px;
    	width: 100%;
    }
    .flex-itemqyys1{
        position: relative;
         z-index: 1;
        margin-left: 78px;
        margin-right: 78px;
    }
    .flex-itemqyys1 img{
    	width: 298px;
    	height: 298px;	
    }
    .flex-bg3{
        width: 100%;
        height: 912px;
    }
    .flex-itemqyyscontain2{
    	display: flex;
    	justify-content: center;
    	flex-direction: row;
    	height: 298px;
    	width: 1920px;
    }
    .flex-itemqyys2{
    	width: 298px;
    	height: 298px;
    	margin-left: 78px;
    	margin-right: 78px;
    }
    .flex-itemqyys2 ul .qyys1{
    	color: #FFFFFF;
    	font-weight: bold;
    	font-size: 32px;
    }
    .flex-itemqyys2 ul .qyys2{
    	color: #FFFFFF;
    	font-weight: normal;
    	font-size: 20px;
    }
/*     案例展示
 */
 	.flex-bg4{
 		width: 100%;
 		height: 2642px;
 		display: flex;
 		flex-direction: column;

 	}
 	.flex-bg4 .flex-itemalzs1{
		margin: 0 auto;
 		width: 563px;
 		height: 402px;
 	}
 	.flex-itemalzs1 ul{
 		text-align: center;
 	}
 	.flex-itemalzs1 ul .alzs1{
 		font-weight: bold;
 		font-size: 44px;
 		letter-spacing: 44px;
 		color: #1A1A1A;
 	}
 	.flex-itemalzs1 ul .alzs2{
 		font-size: 	24px;
    	font-weight: normal;
    	letter-spacing: 22px;
    	color: #F6C738;
 	}
 	.flex-itemalzs1 ul .alzs3{
 		font-size: 16px;
    	color: #545454;
    	font-weight: normal;
 	}
 	.flex-bg4 .flex-itemalzs2{
 		width: 100%;
 		height: 2240px;
 		display: flex;
 		flex-direction: column;
 		flex-wrap: wrap;
 		justify-content: center;
 		background-color: #FFF4F6FE;

 	}


 	.flex-itemlogo2{
 		width: 272px;
 		height: 272px;
 		margin-top: 5px;
 		overflow: hidden;
        padding-left: 20%;
 	}

 	 .flex-bg5{
        position: relative;
    	width: 1920px;
    	height: 840px;

    }
    .flex-bg5 img{
        position: absolute;
        z-index: -1;
    }
    .flex-bg5 ul li{
    	display: block;
    	color: white;
    	text-align: center;
    }
    .thumbnail img {
	width: 100%;
	
}


.thumbnail .mouseover:hover {
    transform: scale(1.2, 1.2);

}

.thumbnail>div {
    overflow: hidden;

}

.thumbnail img {
    width: 100%;
    transition: 0.5s;
}

.thumbnail img:hover {
    transform: scale(1.2, 1.2);
} 
    .al {
      width: 1920px;
      display: flex;
      flex-direction: row;
      background-color: #FFF4F6FE;
     }
     .al2{
       margin-left: 500px;
     }
    


/*     商务合作
 */    

    .flex-bg5 img{
        width: 100%;
        height: 840px;
    }
 	.flex-bg5 ul {
 		text-align: center;
 		margin-top: 181px;
 	}
 	.flex-bg5 ul .swhz1{
 		color: #FFFFFF;
    	font-weight: bold;
    	letter-spacing: 12px;
    	font-size: 44px;
 	}
 	.flex-bg5 ul .swhz2{
 		color: #F6C738;
    	font-size: 24px;
    	font-weight: normal;
    	letter-spacing: 3px;
 	}
 	.flex-bg5 ul .swhz3{
 		color: #FFFFFF;
 		font-size: 26px;
 		font-weight: normal;
 	}















@charset "utf-8";
#wrap {
  position: relative;
  max-width: 1920px;
  min-width: 1100px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  color: #222;
}
#hd-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  color: #fff;
  z-index: 100;
}
#hd-wrap .hd {
  width: 1100px;
  margin: auto;
  height: 100%;
}
#hd-wrap .hd .logo {
  float: left;
}
#hd-wrap .hd .logo img {
  margin-top: 15px;
}
#hd-wrap .hd .logo .logo-02 {
  display: none;
}
#hd-wrap .hd .nav {
  float: right;
  margin-top: 22px;
}
#hd-wrap .hd .nav > li {
  float: left;
  margin-left: 45px;
  padding: 5px 0;
  cursor: pointer;
}
#hd-wrap .hd .nav > li a {
  color: inherit;
  text-decoration: inherit;
}
#hd-wrap .hd .nav > li.nav-active {
  /* border-bottom: 2px solid #c7a06f; */
}
#hd-wrap.hd-wrap-02 {
  background-color: #fff;
  color: #222;
}
#hd-wrap.hd-wrap-02 .hd .logo .logo-01 {
  display: none;
}
#hd-wrap.hd-wrap-02 .hd .logo .logo-02 {
  display: inline;
}
#banner {
  width: 100%;
}
#banner .swiper-container {
  height: 100%;
  --swiper-pagination-color: #fff;
}
#banner .swiper-container .swiper-slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#enterprise {
  height: 890px;
  text-align: center;
}
#enterprise .ep-img01 {
  padding-top: 80px;
  padding-bottom: 48px;
}
#enterprise .ep-img02 {
  padding-top: 49px;
  padding-bottom: 52px;
}
#enterprise .ep-business-text {
  line-height: 1.5;
}
.ep-business-text p{
      /* letter-spacing:3px; */
          line-height: 30px;

}
#progress {
  width: 100%;
  height: 763px;
  background-image: url(https://www.honbow.com/static/img/index/progress-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#advantage {
  width: 100%;
  height: 1094px;
  background-image: url(http://tmp-image-bucket.igolife.net/uploads/image/avatar/42/fazhanlicheng.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#brand {
  height: 840px;
  text-align: center;
}
#brand .brand-title {
  padding-top: 158px;
}
#brand .brand-list {
  padding-top: 70px;
}
#brand .brand-list .brand-content-item {
  display: inline-block;
  width: 260px;
  margin-right: 140px;
  vertical-align: top;
}
#brand .brand-list .brand-content-item:last-child {
  margin-right: 0;
}
#brand .brand-list .brand-content-item .brand-content-item-logo {
  width: 202px;
  height: 202px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
#brand .brand-list .brand-content-item.brand-content-item-1 .brand-content-item-logo {
  background-image: url(http://tmp-image-bucket.igolife.net/uploads/image/avatar/27/gaoxiaolv_img.png);
/*   https://www.honbow.com/static/img/index/brand-02-01.png
 */}
#brand .brand-list .brand-content-item.brand-content-item-1 .brand-content-item-logo:hover {
  background-image: url(https://www.honbow.com/static/img/index/brand-02-02.png);
/*   https://www.honbow.com/static/img/index/brand-02-02.png
 */}
#brand .brand-list .brand-content-item.brand-content-item-2 .brand-content-item-logo {
  background-image: url(http://tmp-image-bucket.igolife.net/uploads/image/avatar/28/jingyanfengfu_img.png);
/*   https://www.honbow.com/static/img/index/brand-03-01.png
 */}
#brand .brand-list .brand-content-item.brand-content-item-2 .brand-content-item-logo:hover {
  background-image: url(https://www.honbow.com/static/img/index/brand-03-02.png);
/*   https://www.honbow.com/static/img/index/brand-03-02.png
 */}
#brand .brand-list .brand-content-item.brand-content-item-3 .brand-content-item-logo {
  background-image: url(http://tmp-image-bucket.igolife.net/uploads/image/avatar/29/jiagedi_img.png);
/*   https://www.honbow.com/static/img/index/brand-04-01.png
 */}
#brand .brand-list .brand-content-item.brand-content-item-3 .brand-content-item-logo:hover {
  background-image: url(https://www.honbow.com/static/img/index/brand-04-02.png);
/*   https://www.honbow.com/static/img/index/brand-04-02.png
 */}
#brand .brand-list .brand-content-item .brand-content-item-title {
  padding-top: 26px;
  font-size: 18px;
}
#brand .brand-list .brand-content-item .brand-content-item-desc {
  padding-top: 18px;
  font-size: 14px;
  line-height: 1.5;
}
#plan {
  width: 100%;
  height: 1300px;
  background-image: url(https://www.honbow.com/static/img/index/plan-01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#plan .plan-title {
  padding-top: 154px;
}
#plan .plan-list {
  padding-top: 62px;
  width: 1105px;
  margin: auto;
}
#plan .plan-list .plan-item {
  display: inline-block;
  width: 252px;
  height: 410px;
  padding: 62px 48px 0 48px;
  margin-right: 26px;
  background-color: #fff;
  vertical-align: top;
}
#plan .plan-list .plan-item:last-child {
  margin-right: 0;
}
#plan .plan-list .plan-item .plan-item-img {
  height: 26px;
  background-repeat: no-repeat;
}
#plan .plan-list .plan-item .plan-item-title {
  padding-top: 66px;
  padding-bottom: 28px;
  font-size: 24px;
  font-weight: bold;
  margin-top: -12px;
}
#plan .plan-list .plan-item .plan-item-desc {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
}
#plan .plan-list .plan-item:hover {
  color: #fff;
  background-color: #3caaff;
}
#cooperation {
  height: 560px;
  text-align: center;
}
#cooperation .ct-title {
  padding-top: 140px;
}
#cooperation .ct-desc {
  padding-top: 56px;
}
#cooperation .ct-contact {
  padding-top: 52px;
}
#cooperation .ct-contact strong {
  font-weight: bold;
  color: #000;
}
#join {
  height: 313px;
  background-image: url(http://tmp-image-bucket.igolife.net/uploads/image/avatar/41/hezuoliucheng.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#join .join-title {
  padding-top: 150px;
}
#join .join-desc {
  padding-top: 50px;
  line-height: 1.5;
  color: #fff;
}
#join .join-more {
  padding-top: 48px;
}
#join .join-more a {
  display: inline-block;
  width: 166px;
  height: 48px;
  color: #fff;
  line-height: 48px;
  background-color: #3baaff;
  cursor: pointer;
}
#join .join-more a:hover {
  background-color: #2794e7;
}
#footer {
  height: 147px;
  padding-top: 50px;
  background-color: #183051;
  color: #fff;
  line-height: 1.5;
}
#footer .footer-content {
  position: relative;
  width: 670px;
  margin: auto;
  text-align: left;
}
#footer .footer-content .qr {
  position: absolute;
  right: 0;
  top: 0;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

}

.banner img{
    width: 100%;
    height: 100%;
}

#boxs{
    overflow: hidden;
    width: 1105px;  
    margin: auto;
    border: 1 solid;
    position: relative;
}

#boxs ul{
    position: absolute;
 }
#boxs ul li{
    float: left;
 }

